<html>
<head>
    <title>Pathogen Informatics Data</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row page-header">
            <div class="col-md-4">
                <img alt="Wellcome Trust Sanger Institute Logo" width=300 src="assets/img/logo.png">
            </div>
            <div class="col-md-8">
                <h2 class="media-heading">Wellcome Trust Sanger Institute<br>Pathogen Data</h2>
            </div>
        </div>
        <div id='species_selector' class="row">
            <div class="col-md-4">
                <h3>Pick a pathogen</h3>
                <ul>
                {% for name, url in (species_urls.items() | sort) %}
                    <li><a href='{{ url }}'>{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
<body>
